<div class="ss-pos-workspace__actions">
  <% held_count = @suspended_transactions&.size.to_i %>
  <% if held_count.positive? %>
    <%= render "shared/ui/button",
               label: "Held sales (#{held_count})",
               variant: :secondary,
               data: { action: "pos-command-bar#openHeldDrawer" } %>
  <% end %>
</div>
