<h1>Edit Department</h1>
<%= form_with model: @department, url: setup_department_path(@department), class: "ss-form" do |f| %>
  <%= render "form", f: f, department: @department %>
  <%= f.submit "Update Department", class: "ss-btn" %>
<% end %>
