<h1>Set PIN</h1>

<%= form_with url: pin_path, method: :patch, class: "ss-form" do %>
  <label>New PIN</label>
  <%= password_field_tag :pin %>
  <%= submit_tag "Save PIN", class: "ss-btn" %>
<% end %>
