<%# locals: operations: %>
<% return unless operations&.customer_demand_visible? %>

<%= render "shared/interaction/drawer",
      id: "item-demand-drawer",
      title: "Customer demand",
      title_html_options: { data: { item_customer_demand_drawer_target: "title" } },
      close_on_escape: true,
      close_on_backdrop: true,
      dirty_guard: true do %>
  <p class="ss-drawer-variant-summary" data-item-customer-demand-drawer-target="variantSummary"></p>
  <%= render "items/items/customer_demand_form" %>
<% end %>
