<h1>POS Reports</h1>
<ul>
  <li><%= link_to "Sales", sales_pos_reports_path %></li>
  <li><%= link_to "Returns", returns_pos_reports_path %></li>
  <li><%= link_to "Drawer sessions", drawer_pos_reports_path %></li>
</ul>
