<h1>New Store</h1>
<%= form_with model: @store, url: setup_stores_path, class: "ss-form" do |f| %>
  <%= render "form", f: f, store: @store %>
  <%= f.submit "Create Store", class: "ss-btn" %>
<% end %>
