<% if record.errors.any? %>
  <%= render "shared/ui/alert",
        variant: :error,
        title: "Please correct the following fields" do %>
    <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
