<h1>New Category</h1>
<%= form_with model: @category, url: setup_categories_path, class: "ss-form" do |f| %>
  <%= render "form", f: f, category: @category, departments: @departments, tax_categories: @tax_categories %>
  <%= f.submit "Create Category", class: "ss-btn" %>
<% end %>
