<td>
  <%= render "shared/ui/button",
        label: "Details",
        type: :button,
        variant: :link,
        data: { action: "purchasing-line-row#toggleDetails" } %>
  <%= render "shared/ui/button",
        label: "Remove",
        type: :button,
        variant: :link,
        data: { action: "purchasing-line-table#removeLine" } %>
</td>
