<% if product_vendor.errors.any? %>
  <div class="ss-errors"><%= product_vendor.errors.full_messages.to_sentence %></div>
<% end %>

<%= render "shared/forms/product_vendor_fields",
      f: f,
      product_vendor: product_vendor,
      lock_product: false %>
