<h1>New Product Vendor</h1>
<%= form_with model: [:setup, @product_vendor], url: setup_product_vendors_path do |f| %>
  <%= render "form", f: f, product_vendor: @product_vendor %>
  <%= f.submit class: "ss-btn" %>
<% end %>
