<%# locals: supply_summary %>
<section class="ss-panel">
  <h2>Availability preview</h2>
  <dl class="ss-summary">
    <dt>On hand available</dt><dd class="ss-num"><%= supply_summary.on_hand_available %></dd>
    <dt>On hand reserved (store)</dt><dd class="ss-num"><%= supply_summary.on_hand_reserved %></dd>
    <dt>Inbound available</dt><dd class="ss-num"><%= supply_summary.inbound_available %></dd>
    <dt>Planned on draft PO</dt><dd class="ss-num"><%= supply_summary.planned_on_draft_po_quantity %></dd>
  </dl>
</section>
