<table class="ss-table">
  <thead>
    <tr><th>When</th><th>Event</th><th>Actor</th><th>Details</th></tr>
  </thead>
  <tbody>
    <% audit_events.each do |event| %>
      <tr>
        <td><%= display_time(event.occurred_at) %></td>
        <td><%= event.event_name %></td>
        <td><%= event.actor_user.display_name %></td>
        <td class="ss-audit-details"><%= audit_event_details_summary(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
