<%# locals: context:, label: nil %>
<% label ||= context&.banner_label %>
<% if label.present? %>
  <div class="ss-notice ss-notice--info">
    <p><%= label %></p>
    <% if context.respond_to?(:demand_line) && context.demand_line.present? %>
      <%= link_to "Return to demand",
            context.return_path,
            class: "ss-btn ss-btn-small ss-btn-secondary" %>
    <% elsif context.respond_to?(:session_record) && context.session_record.present? %>
      <%= link_to "Return to buyback",
            context.return_path,
            class: "ss-btn ss-btn-small ss-btn-secondary" %>
    <% end %>
  </div>
<% end %>
