<%# locals: context:, label: nil %>
<% label ||= context&.banner_label %>
<% if label.present? %>
  <div class="ss-notice ss-notice--info">
    <p><%= label %></p>
    <% if context&.request_record.present? %>
      <%= link_to "Return to request",
            customers_customer_request_path(context.request_record, anchor: "line-#{context.line_id}"),
            class: "ss-btn ss-btn-small ss-btn-secondary" %>
    <% end %>
  </div>
<% end %>
