<% return_path = local_assigns.fetch(:return_path, nil) %>
<% back_path = return_path.presence || pos_transaction_path(transaction) %>
<% back_label = return_path.present? ? "Back to completed sale" : "Back to summary" %>

<div class="ss-pos-no-print ss-receipt-actions" data-controller="pos-receipt-print" data-pos-receipt-print-print-url-value="<%= print_pos_receipt_path(receipt) %>">
  <button type="button" class="ss-btn ss-receipt-actions__print" data-action="pos-receipt-print#print">Print</button>

  <%= link_to back_label, back_path, class: "ss-btn ss-btn-secondary ss-receipt-actions__back" %>

  <%= render "pos/transactions/issuance_slip_links", transaction: transaction %>
</div>
