<h1>Edit Catalog Item</h1>
<%= form_with model: [:items, @catalog_item] do |f| %>
  <%= render "form", f: f, catalog_item: @catalog_item, formats: @formats, include_identifier: false %>
  <%= f.submit "Update Catalog Item", class: "ss-btn" %>
<% end %>
