<h1>Items</h1>

<div class="ss-card-grid">
  <%= link_to items_search_path do %><div class="ss-card">Search Items</div><% end %>
  <%= link_to items_new_add_item_path do %><div class="ss-card">Add Item</div><% end %>
  <%= link_to items_ingram_import_path do %><div class="ss-card">Ingram Import</div><% end %>
</div>
