<%# locals: title:, message: nil, actions: nil %>
<div class="ss-empty-state">
  <% if local_assigns.fetch(:title, nil).present? %>
    <p class="ss-empty-state__title"><%= title %></p>
  <% end %>
  <% if local_assigns.fetch(:message, nil).present? %>
    <p class="ss-empty-state__message"><%= message %></p>
  <% end %>
  <%
    actions_html = capture { yield } if block_given?
    actions_html = actions if actions_html.blank? && local_assigns.fetch(:actions, nil).present?
  %>
  <% if actions_html.present? %>
    <div class="ss-empty-state__actions">
      <%= actions_html %>
    </div>
  <% end %>
</div>
