<h1>New Store Display Location</h1>
<%= form_with model: [:setup, @store_display_location] do |f| %>
  <%= render "form", f: f, store_display_location: @store_display_location, stores: @stores, display_locations: @display_locations %>
  <%= f.submit "Create Store Display Location", class: "ss-btn" %>
<% end %>
