<h1>New Vendor</h1>
<%= form_with model: [:setup, @vendor] do |f| %>
  <%= render "form", f: f, vendor: @vendor, parent_vendors: @parent_vendors %>
  <%= f.submit "Create Vendor", class: "ss-btn" %>
<% end %>
