<div class="ss-pos-balance-page">
  <h1 class="ss-pos-home__title">Check Balance</h1>
  <%= render "pos/shared/stored_value_balance_inquiry", show_close: false %>
  <p class="ss-hint ss-pos-balance-page__back">
    <%= link_to "Back to POS Menu", pos_root_path %>
  </p>
</div>
