<div class="ss-pos-transaction-show__actions">
  <%= link_to "POS Menu", pos_root_path, class: "ss-btn ss-pos-transaction-show__primary-action" %>

  <% if transaction.pos_receipt %>
    <%= link_to "Receipt", pos_receipt_path(transaction.pos_receipt), class: "ss-btn ss-btn-secondary ss-pos-transaction-show__secondary-action" %>
  <% else %>
    <span class="ss-btn ss-btn-secondary ss-pos-transaction-show__secondary-action" aria-disabled="true">Receipt</span>
  <% end %>
</div>
<%= render "pos/transactions/issuance_slip_links", transaction: transaction %>
