<% notice = flash[:notice] || flash.now[:notice] %>
<% alert = flash[:alert] || flash.now[:alert] %>

<% if notice.present? %>
  <div class="ss-pos-alert"
       data-controller="pos-flash"
       data-pos-flash-auto-clear-ms-value="5000">
    <span class="ss-pos-alert__message"><%= notice %></span>
    <button type="button"
            class="ss-pos-alert__dismiss"
            data-action="pos-flash#dismiss"
            aria-label="Dismiss message">Dismiss</button>
  </div>
<% end %>

<% if alert.present? %>
  <div class="ss-pos-alert ss-pos-alert--error"
       data-controller="pos-flash">
    <span class="ss-pos-alert__message"><%= alert %></span>
    <button type="button"
            class="ss-pos-alert__dismiss"
            data-action="pos-flash#dismiss"
            aria-label="Dismiss message">Dismiss</button>
  </div>
<% end %>
