<% slips = Pos::StoredValueIssuanceSlips.for_transaction(transaction) %>
<% if slips.any? %>
  <div class="ss-pos-issuance-slip-links">
    <% slips.each do |slip| %>
      <%= link_to slip.label,
            pos_stored_value_issuance_slip_path(slip.ledger_entry_id),
            class: "ss-pos-action-grid__btn ss-btn ss-btn-secondary" %>
    <% end %>
  </div>
<% end %>
