<% slips = Pos::StoredValueIssuanceSlips.for_transaction(transaction) %>
<% if slips.any? %>
  <div class="ss-pos-issuance-slip-links">
    <% slips.each do |slip| %>
      <%= render "shared/ui/button",
                 label: slip.label,
                 variant: :secondary,
                 class: "ss-pos-action-grid__btn",
                 url: pos_stored_value_issuance_slip_path(slip.ledger_entry_id) %>
    <% end %>
  </div>
<% end %>
