<%# locals: (transaction:, readiness:, inactive_warnings:) %>
<div id="pos_settlement_modal"
     class="ss-pos-modal"
     data-pos-settlement-panel-target="modal"
     hidden>
  <div id="pos_settlement_modal_content">
    <%= render "pos/transactions/settlement_modal_content",
          transaction: transaction,
          readiness: readiness,
          inactive_warnings: inactive_warnings %>
  </div>
</div>
