<div id="pos_totals">
  <%= render "pos/transactions/totals_panel", transaction: transaction %>
</div>

<div id="pos_adjustments">
  <%= render "pos/transactions/adjustments_panel", transaction: transaction %>
</div>

<div id="pos_settlement_actions">
  <%= render "pos/transactions/settlement_actions",
        transaction: transaction,
        readiness: readiness,
        inactive_warnings: inactive_warnings %>
</div>
