<h1>Edit Tax Category</h1>
<%= form_with model: @tax_category, url: setup_tax_category_path(@tax_category), class: "ss-form" do |f| %>
  <%= render "form", f: f, tax_category: @tax_category %>
  <%= f.submit "Update Tax Category", class: "ss-btn" %>
<% end %>
