<h1>New Tax Exception Reason</h1>
<%= form_with model: @tax_exception_reason, url: setup_tax_exception_reasons_path, class: "ss-form" do |f| %>
  <%= render "form", f: f, tax_exception_reason: @tax_exception_reason %>
  <%= f.submit "Create", class: "ss-btn" %>
<% end %>
