<h1><%= @audit_event.event_name %></h1>
<dl class="ss-summary">
  <dt>When</dt><dd><%= display_time(@audit_event.occurred_at) %></dd>
  <dt>Actor</dt><dd><%= @audit_event.actor_user.display_name %></dd>
  <dt>Details</dt>
  <dd>
    <% if @audit_event.event_details.present? %>
      <pre><%= JSON.pretty_generate(@audit_event.event_details) %></pre>
    <% else %>
      —
    <% end %>
  </dd>
</dl>
