<h1>New Variant Vendor</h1>
<%= form_with model: [:setup, @product_variant_vendor], url: setup_product_variant_vendors_path do |f| %>
  <%= render "form", f: f, product_variant_vendor: @product_variant_vendor %>
  <%= f.submit class: "ss-btn" %>
<% end %>
