<%= render "action_buttons", variant: :closed %>

<div class="ss-pos-home__footer ss-pos-home__footer--closed">
  <div class="ss-pos-home__footer-column ss-pos-home__queues">
    <%= render "draft_queue" %>
  </div>
</div>

<p class="ss-hint">Draft transactions can be started without an open register, but completion requires an open session.</p>
