<section class="ss-pos-panel ss-pos-home__queue-panel">
  <h2 class="ss-pos-panel__title">Held Sales</h2>
  <%= render "pos/shared/held_transactions_table", suspended_transactions: @suspended_transactions %>
</section>
