<section class="ss-access-notice" aria-labelledby="demand-access-notice-title">
  <h1 id="demand-access-notice-title" class="ss-access-notice__title">Demand</h1>
  <p class="ss-access-notice__message">You do not have access to the demand workspace.</p>
</section>
