<div class="ss-receipt-80mm ss-stored-value-slip-80mm">
  <%= render "buybacks/trade_credit_issuance_slips/slip_body", presenter: @presenter %>
  <%= render "buybacks/trade_credit_issuance_slips/actions", session: @buyback_session %>
</div>
